<%- include('./partials/_headers'); %>

<div class="container-fluid">

  <div class="row mt-5">
        <div class="col-md-6">
            <h3>Projects by year:</h3>
             <div><canvas id="acquisitions"></canvas></div>
            
        </div>
        <div class="col-md-6">
            <h3>Components vs Projects:</h3>
            <div><canvas id="componentsused"></canvas></div>
            
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <h3>Products low on stock:</h3>
            <table class="table table-bordered table-hover">
        <thead class="thead bg-warning">
          <tr>
            <th>N째</th>
            <th>Name</th>
            <th>Model</th>
            <th>Qty</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (lowstock) { %> <% for (let i=0; i < lowstock.length; i++) { %>
          <tr>
            <td><%- (i + 1) %></td>
            <td><%- lowstock[i].name%></td>
            <td><%- lowstock[i].model%></td>
            <td><%- lowstock[i].quantity%></td>

            <td>

              <a
                href="/updateproduct/<%- lowstock[i].id %>"
                class="btn btn-info btn-block"
                >Update</a
              >
            </td>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
      <a
                  href="/lowstocklist"
                  class="btn btn-primary btn-block"
                  >See More</a>
        </div>
        <div class="col-md-6">
            <h3>Products out of stock:</h3>
            <table class="table table-bordered table-hover">
        <thead class="thead bg-danger">
          <tr>
            <th>N째</th>
            <th>Name</th>
            <th>Model</th>
            <th>Qty</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (outofstock) { %> <% for (let i=0; i < outofstock.length; i++) { %>
          <tr>
            <td><%- (i + 1) %></td>
            <td><%- outofstock[i].name%></td>
            <td><%- outofstock[i].model%></td>
            <td><%- outofstock[i].quantity%></td>

            <td>

              <a
                href="/updateproduct/<%- outofstock[i].id %>"
                class="btn btn-info btn-block"
                >Update</a
              >
            </td>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
      <a
                  href="/outofstocklist"
                  class="btn btn-primary btn-block"
                  >See More</a>
        </div>
    </div>

  <div class="row mt-5">
    <div class="col-md-6">
        <h3>Latest products:</h3>
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>N째</th>
            <th>Name</th>
            <th>Model</th>
            <th>About</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %> <% for (let i=0; i < data.length; i++) { %>
          <tr>
            <td><%- (i + 1) %></td>
            <td><%- data[i].name%></td>
            <td><%- data[i].model%></td>
            <td><%- data[i].description%></td>

            <td>

              <a
                href="/updateproduct/<%- data[i].id %>"
                class="btn btn-info btn-block"
                >Update</a
              >
            </td>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
      <a
                  href="/productslist"
                  class="btn btn-primary btn-block"
                  >See More</a>
    </div>

    <div class="col-md-6">
      <div style="overflow-y: auto">
        <h3>Latest projects:</h3>
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th>N째</th>
              <th>Name</th>
              <th>Date</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% if (dataprojects) { %> <% for (let i=0; i < dataprojects.length;
            i++) { %>
            <tr>
              <td><%- (i + 1) %></td>
              <td><%- dataprojects[i].name%></td>
              <td><%- dataprojects[i].date.toISOString().split('T')[0]%></td>
              <td><%- dataprojects[i].description%></td>
              <td>
                <a
                  href="/updateproject/<%- dataprojects[i].id %>"
                  class="btn btn-info btn-block"
                  >Update</a
                >
              </td>
              
            </tr>
            <% } %> <% } %>
            
          </tbody>
        </table>
        <a
                  href="/projectslist"
                  class="btn btn-primary btn-block"
                  >See More</a>
      </div>
    </div>
  </div>
</div>
  <%- include('./partials/_footer'); %>