<%- include('./partials/_headers'); %>

  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-sm">
        <div style="overflow-y: auto;">
            <h3>Products out of stock:</h3>
        <table class="table table-bordered table-hover">
          <thead class="thead bg-danger">
            <tr>
              <th>N°</th>
              <th>Name</th>
              <th>Model</th>
              <th>About</th>
              <th>Price</th>
              <th>Date</th>
              <th>Store</th>
              <th>Qty</th>
              <th>Project</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          <% if (outofstock) { %>
            <% for (let i = 0; i < outofstock.length; i++) { %>
              <tr>
                <td><%- (i + 1) %></td>
                <td><%- outofstock[i].name%></td>
                <td><%- outofstock[i].model%></td>
                <td><%- outofstock[i].description%></td>
                <td><%- outofstock[i].price%> $</td>
                <td><%- outofstock[i].date.toISOString().split("T")[0]%></td>
                <td><%- outofstock[i].store%></td>
                <td><%- outofstock[i].quantity%></td>
                <td><%- outofstock[i].project_name%></td>
                <td>
                  
                  <a href="/updateproduct/<%- outofstock[i].id %>" class="btn btn-info btn-block">Update</a>
                </td>
              </tr>
            <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
      </div>
      </div>
      </div>

  <%- include('./partials/_footer'); %>