<%- include('./partials/_headers'); %>

  <div class="container">
    <div class="row mt-5">
      <div class="col-sm">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>N°</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
          <% if (dataprojects) { %>
            <% for (let i = 0; i < dataprojects.length; i++) { %>
              <tr>
                <td><%- (i + 1) %></td>
                <td><%- dataprojects[i].name%></td>
                <td><%- dataprojects[i].description%></td>
                <td>
                  <a href="/delete/<%- dataprojects[i].id %>" class="btn btn-danger btn-block">Delete</a>
                  
                  <a href="/updateproject/<%- dataprojects[i].id %>" class="btn btn-info btn-block">Update</a>
                </td>
              </tr>
            <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
      </div>
      </div>

  <%- include('./partials/_footer'); %>